{
  "input_type": "xml",
  "nr_docs": 2000,
  "attribute_filters": {
      "begin": {
        "lang": { "value":"english" },
        "content_type": { "value":["application/pdf", "application/msword"]},
        "path": { "value": "standard", "default": "standard"}
      }
  },
  "min_size": 200,
  "max_per_account": 0.1
}
