{
  "input_type": "trxml",
  "nr_docs": 2000,
  "attribute_filters": {
      "Document": {
        "lang": { "value":"english" },
        "content_type": { "value":["application/pdf", "application/msword"]},
        "path": { "value": "standard", "default": "standard"}
      }
  },
  "field_selectors": {
      "DocumentStructure": {
        "country": {
	    "xpath":"ItemGroup[@key='address']/Item[@index='0']/Field[@key='countrycode_nodefault']/Value",
	    "value":"US"
	}
      }

  },
  "min_size": 800,
  "max_per_account": 0.1
}
